Repository autonomys/auto-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clostao, @jfrank-summit, @Xm0onh

chore: bump version to v1.5.7 (#445)
  .github/workflows/release.yaml
  CHANGELOG.md
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @clostao, @jfrank-summit, @Xm0onh

feat: implement functions to read and get operator epoch share price with support for Perbill and Perquintill formats
  packages/auto-consensus/src/utils/storage.ts
Owners: @jfrank-summit, @Xm0onh

chore: add dompurify dependency to auto-design-system
  packages/auto-design-system/package.json
  yarn.lock
Owners: none

feat: add sanitizeHTML utility using DOMPurify for safe HTML rendering
  packages/auto-design-system/src/utils/sanitizeHTML.ts
Owners: none

feat: integrate sanitizeHTML utility into FilePreview for safe text and file name rendering
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
Owners: none

feat: integrate sanitizeHTML utility into ImagePreview
  packages/auto-design-system/src/components/common/FilePreview/ImageViewer.tsx
Owners: none

refactor: simplify sanitizedFileName computation in FilePreview component
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
Owners: none

feat: implement functions to read and get operator epoch share price with support for Perbill and Perquintill formats
  packages/auto-consensus/src/position/price.ts
  packages/auto-consensus/src/utils/index.ts
  packages/auto-consensus/src/utils/parse.ts
  packages/auto-consensus/src/utils/storage.ts
  scripts/staking-position-calculator.ts
Owners: @jfrank-summit, @Xm0onh

feat: add input sanitization for FilePreview (#447)
  packages/auto-design-system/package.json
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/ImageViewer.tsx
  packages/auto-design-system/src/utils/sanitizeHTML.ts
  yarn.lock
Owners: none

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.8
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

refactor: simplify nominator position retrieval by utilizing runtime API
  packages/auto-consensus/src/position/index.ts
  packages/auto-consensus/src/position/runtime.ts
  packages/auto-consensus/src/types/position.ts
Owners: @jfrank-summit, @Xm0onh

refactor: rename position files for better organization
  packages/auto-consensus/src/position.ts
  packages/auto-consensus/src/position/index.ts
  packages/auto-consensus/src/position/position.ts
Owners: @jfrank-summit, @Xm0onh

refactor: update staking position calculator to use runtime API and improve output formatting
  scripts/staking-position-calculator.ts
Owners: none

chore: update last version to 1.5.8
  lerna.json
Owners: none

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.9
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

fix: changelog generator
  CHANGELOG.md
  scripts/generate-pr-changelog.js
Owners: none

feat: add support for byte range cache retrieval
  packages/utility/file-caching/src/fileCache.ts
  packages/utility/file-caching/src/models.ts
Owners: @clostao

feat: add support for byte range cache retrieval (#453)
  packages/utility/file-caching/src/fileCache.ts
  packages/utility/file-caching/src/models.ts
Owners: @clostao

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.10
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: add get node method
  packages/auto-files/src/api.ts
Owners: none

feat: add get node method (#454)
  packages/auto-files/src/api.ts
Owners: none

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.11
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

chore(doc): fix changelog generator (#452)
  CHANGELOG.md
  scripts/generate-pr-changelog.js
Owners: none

chore: update CHANGELOG.md for v1.4.31 release, adding new features and bug fixes
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

/.github/workflows                @clostao @jfrank-summit @Xm0onh
/packages/auto-consensus          @jfrank-summit @Xm0onh
/packages/auto-dag-data           @clostao
/packages/auto-drive              @clostao
/packages/auto-utils              @jfrank-summit @Xm0onh
/packages/auto-xdm                @jfrank-summit @Xm0onh
/packages/utility/asynchronous    @clostao
/packages/utility/file-caching    @clostao
/packages/utility/rpc             @clostao
/packages/utility/user-session    @jfrank-summit @Xm0onh
