Repository autonomys/auto-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clostao, @jfrank-summit, @Xm0onh

feat: add httpBodyToStream function to convert ReadableStream to Readable
  packages/utility/asynchronous/src/streams/index.ts
Owners: @clostao

feat: conditionally get file from cache or get chunked from dsn
  packages/auto-files/src/api.ts
  packages/auto-files/src/utils.ts
Owners: none

feat: update auto-files API to include authorization header in fetch requests
  yarn.lock
Owners: none

fix: add auto-drive sdk to deps
  yarn.lock
Owners: none

fix: package name
  yarn.lock
Owners: none

feat: support conditional fetching from cache or dsn
  packages/auto-files/src/api.ts
  packages/auto-files/src/utils.ts
  packages/utility/asynchronous/src/streams/index.ts
Owners: @clostao

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.1
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: enhance staking types with nullable fields and update parsing logic
  packages/auto-consensus/src/types/staking.ts
  packages/auto-consensus/src/utils/parse.ts
Owners: @jfrank-summit, @Xm0onh

feat: improve deposits and withdrawals functions to filter by account
  packages/auto-consensus/src/staking.ts
Owners: @jfrank-summit, @Xm0onh

feat: enhance domain staking summary with function overloads
  packages/auto-consensus/src/domain.ts
  packages/auto-consensus/src/types/domain.ts
Owners: @jfrank-summit, @Xm0onh

feat: add comprehensive staking position calculation system
  packages/auto-consensus/src/position.ts
  packages/auto-consensus/src/position/index.ts
  packages/auto-consensus/src/position/price.ts
  packages/auto-consensus/src/position/utils.ts
  packages/auto-consensus/src/types/position.ts
Owners: @jfrank-summit, @Xm0onh

feat: export position calculation functionality
  packages/auto-consensus/src/index.ts
  packages/auto-consensus/src/types/index.ts
Owners: @jfrank-summit, @Xm0onh

feat: add comprehensive staking position calculator script
  scripts/staking-position-calculator.ts
Owners: none

fix: remove redundant status field from OperatorDetails type and parsing function
  packages/auto-consensus/src/types/staking.ts
  packages/auto-consensus/src/utils/parse.ts
Owners: @jfrank-summit, @Xm0onh

feat: add share parsing and formatting functions
  scripts/staking-position-calculator.ts
Owners: none

fix: cache retrieval
  packages/auto-files/src/api.ts
Owners: none

fix: 🐛 es module support
  packages/auto-design-system/.storybook/main.js
  packages/auto-design-system/.storybook/webpack.config.js
Owners: none

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.2
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: ✨ add file preview component
  packages/auto-design-system/.storybook/mocks/stream-fork.js
  packages/auto-design-system/.storybook/webpack.config.js
  packages/auto-design-system/package.json
  packages/auto-design-system/src/components/common/FilePreview/Arguments.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/FolderPreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/NoPreviewAvailable.tsx
  packages/auto-design-system/src/components/common/FilePreview/index.ts
  yarn.lock
Owners: none

docs: add JSDoc documentation for core consensus module functions
  packages/auto-consensus/src/account.ts
  packages/auto-consensus/src/balances.ts
  packages/auto-consensus/src/batch.ts
  packages/auto-consensus/src/remark.ts
  packages/auto-consensus/src/transfer.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for domain-related functions
  packages/auto-consensus/src/domain.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for blockchain information functions
  packages/auto-consensus/src/info.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for staking functions
  packages/auto-consensus/src/staking.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for position calculation functions
  packages/auto-consensus/src/position/index.ts
  packages/auto-consensus/src/position/price.ts
  packages/auto-consensus/src/position/utils.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for utility functions
  packages/auto-consensus/src/utils/format.ts
  packages/auto-consensus/src/utils/query.ts
  packages/auto-consensus/src/utils/sudo.ts
Owners: @jfrank-summit, @Xm0onh

docs: update issuance network example to current test network
  packages/auto-consensus/src/balances.ts
Owners: @jfrank-summit, @Xm0onh

docs: update token references from ATC to AI3 in examples and documentation
  README.md
  examples/node/src/balance.ts
  examples/node/src/nominate-operator.ts
  examples/node/src/register-operator.ts
  examples/node/src/transfer.ts
  packages/auto-consensus/src/position/price.ts
  packages/auto-consensus/src/position/utils.ts
  packages/auto-consensus/src/staking.ts
  packages/auto-consensus/src/transfer.ts
Owners: @jfrank-summit, @Xm0onh

feat: ✨ file preview component
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
  packages/auto-design-system/src/components/index.ts
  packages/auto-design-system/src/index.ts
Owners: none

refactor: 🔨 file preview component
  packages/auto-design-system/src/components/common/FilePreview/AudioPlayer.tsx
  packages/auto-design-system/src/components/common/FilePreview/DecryptionErrorDisplay.tsx
  packages/auto-design-system/src/components/common/FilePreview/DirectGatewayLink.tsx
  packages/auto-design-system/src/components/common/FilePreview/EncryptedFilePrompt.tsx
  packages/auto-design-system/src/components/common/FilePreview/ErrorDisplay.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/ImageViewer.tsx
  packages/auto-design-system/src/components/common/FilePreview/LoadingSpinner.tsx
  packages/auto-design-system/src/components/common/FilePreview/PDFViewer.tsx
  packages/auto-design-system/src/components/common/FilePreview/PasswordModal.tsx
  packages/auto-design-system/src/components/common/FilePreview/TextViewer.tsx
  packages/auto-design-system/src/components/common/FilePreview/VideoPlayer.tsx
  packages/auto-design-system/src/components/common/FilePreview/constants.ts
  packages/auto-design-system/src/components/common/FilePreview/types.ts
  packages/auto-design-system/src/components/common/FilePreview/utils.ts
  packages/auto-design-system/src/mocks/files.mock.ts
Owners: none

refactor: remove Gemini 3H network references and add networksMap for easier access
  packages/auto-utils/src/constants/network.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for core utility functions
  packages/auto-utils/src/address.ts
  packages/auto-utils/src/crypto.ts
  packages/auto-utils/src/number.ts
  packages/auto-utils/src/string.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for API and network functions
  packages/auto-utils/src/api.ts
  packages/auto-utils/src/network.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for wallet functions
  packages/auto-utils/src/wallet.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for transaction and event utility functions
  packages/auto-utils/src/utils/events.ts
  packages/auto-utils/src/utils/sign.ts
  packages/auto-utils/src/utils/signAndSendTx.ts
  packages/auto-utils/src/utils/validateEvents.ts
Owners: @jfrank-summit, @Xm0onh

docs: add JSDoc documentation for remaining utility functions
  packages/auto-utils/src/utils/detectTxSuccess.ts
  packages/auto-utils/src/utils/format.ts
  packages/auto-utils/src/utils/ready.ts
  packages/auto-utils/src/utils/verify.ts
Owners: @jfrank-summit, @Xm0onh

docs: streamline re-export documentation to be more focused and concise
  packages/auto-utils/src/utils/format.ts
  packages/auto-utils/src/utils/ready.ts
  packages/auto-utils/src/utils/sign.ts
  packages/auto-utils/src/utils/verify.ts
Owners: @jfrank-summit, @Xm0onh

feat: ✨ file preview load time UX
  packages/auto-design-system/src/components/common/FilePreview/Arguments.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/FolderPreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/types.ts
  packages/auto-design-system/src/components/common/FilePreview/utils.ts
  packages/auto-design-system/src/mocks/files.mock.ts
  packages/auto-design-system/src/types/file.ts
  packages/auto-design-system/src/types/index.ts
  packages/auto-design-system/src/utils/file.ts
  packages/auto-design-system/src/utils/index.ts
Owners: none

fix: error handling
  packages/auto-design-system/src/components/common/FilePreview/Arguments.tsx
  packages/auto-design-system/src/components/common/FilePreview/EncryptedFilePrompt.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
Owners: none

.github/CODEOWNERS:

/.github/workflows                @clostao @jfrank-summit @Xm0onh
/packages/auto-consensus          @jfrank-summit @Xm0onh
/packages/auto-dag-data           @clostao
/packages/auto-drive              @clostao
/packages/auto-utils              @jfrank-summit @Xm0onh
/packages/auto-xdm                @jfrank-summit @Xm0onh
/packages/utility/asynchronous    @clostao
/packages/utility/file-caching    @clostao
/packages/utility/rpc             @clostao
/packages/utility/user-session    @jfrank-summit @Xm0onh
