Repository autonomys/auto-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clostao, @jfrank-summit, @Xm0onh

refactor: break nominatorPosition calculation into smaller, easier to follow functions
  packages/auto-consensus/src/position/index.ts
Owners: @jfrank-summit, @Xm0onh

refactor: rename unlockAtBlock to unlockAtDomainBlock for clarity in pending withdrawals
  packages/auto-consensus/src/position/index.ts
  packages/auto-consensus/src/types/position.ts
  scripts/staking-position-calculator.ts
Owners: @jfrank-summit, @Xm0onh

refactor: improve withdrawal processing logic by consolidating share price retrieval
  packages/auto-consensus/src/position/index.ts
Owners: @jfrank-summit, @Xm0onh

fix: ensure operatorId comparison is type-safe in nominatorPosition function
  packages/auto-consensus/src/position/index.ts
Owners: @jfrank-summit, @Xm0onh

fix: typo in withdrawal share price comment
  packages/auto-consensus/src/position/index.ts
Owners: @jfrank-summit, @Xm0onh

feat: improve type infer
  packages/utility/rpc/src/rpc/api/definition.ts
Owners: @clostao

refactor: update webpack config to use consistent variable naming for file paths
  packages/auto-design-system/.storybook/webpack.config.js
Owners: none

refactor: update processPendingDeposits to improve clarity and simplify storage fee deposit handling
  packages/auto-consensus/src/position/index.ts
Owners: @jfrank-summit, @Xm0onh

feat: improve type infer (#436)
  packages/utility/rpc/src/rpc/api/definition.ts
Owners: @clostao

feat: ✨ file preview component (#433)
  packages/auto-design-system/.storybook/main.js
  packages/auto-design-system/.storybook/mocks/stream-fork.js
  packages/auto-design-system/.storybook/webpack.config.js
  packages/auto-design-system/package.json
  packages/auto-design-system/src/components/common/FilePreview/Arguments.tsx
  packages/auto-design-system/src/components/common/FilePreview/AudioPlayer.tsx
  packages/auto-design-system/src/components/common/FilePreview/DecryptionErrorDisplay.tsx
  packages/auto-design-system/src/components/common/FilePreview/DirectGatewayLink.tsx
  packages/auto-design-system/src/components/common/FilePreview/EncryptedFilePrompt.tsx
  packages/auto-design-system/src/components/common/FilePreview/ErrorDisplay.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/FolderPreview.tsx
  packages/auto-design-system/src/components/common/FilePreview/ImageViewer.tsx
  packages/auto-design-system/src/components/common/FilePreview/LoadingSpinner.tsx
  packages/auto-design-system/src/components/common/FilePreview/NoPreviewAvailable.tsx
  packages/auto-design-system/src/components/common/FilePreview/PDFViewer.tsx
  packages/auto-design-system/src/components/common/FilePreview/PasswordModal.tsx
  packages/auto-design-system/src/components/common/FilePreview/TextViewer.tsx
  packages/auto-design-system/src/components/common/FilePreview/VideoPlayer.tsx
  packages/auto-design-system/src/components/common/FilePreview/constants.ts
  packages/auto-design-system/src/components/common/FilePreview/index.ts
  packages/auto-design-system/src/components/index.ts
  packages/auto-design-system/src/index.ts
  packages/auto-design-system/src/mocks/files.mock.ts
  packages/auto-design-system/src/types/file.ts
  packages/auto-design-system/src/types/index.ts
  packages/auto-design-system/src/utils/file.ts
  packages/auto-design-system/src/utils/index.ts
  yarn.lock
Owners: none

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.3
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: enable passing http opts to methods
  packages/utility/rpc/src/rpc/api/definition.ts
  packages/utility/rpc/src/rpc/api/typing.ts
Owners: @clostao

feat: add client http options
  packages/utility/rpc/src/rpc/api/definition.ts
Owners: @clostao

chore: v1.5.3 (#437)
  CHANGELOG.md
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: enable passing http options to HttpClient & methods (#438)
  packages/utility/rpc/src/rpc/api/definition.ts
  packages/utility/rpc/src/rpc/api/typing.ts
Owners: @clostao

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.4
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: add storage fee refund to pending withdrawals
  packages/auto-consensus/src/position/index.ts
  packages/auto-consensus/src/types/position.ts
  scripts/staking-position-calculator.ts
Owners: @jfrank-summit, @Xm0onh

feat: add headDomainNumber function to retrieve latest block number for a specific domain
  packages/auto-consensus/src/domain.ts
  scripts/staking-position-calculator.ts
Owners: @jfrank-summit, @Xm0onh

refactor: update domain block number references to use headDomainNumber
  packages/auto-consensus/src/domain.ts
Owners: @jfrank-summit, @Xm0onh

refactor: update logging for staking-position-calculator to improve clarity
  scripts/staking-position-calculator.ts
Owners: none

chore: bump version in lerna.json to 1.5.4
  lerna.json
Owners: none

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.5
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat(testing): add utils for testing rpc integrations
  packages/utility/rpc/src/rpc/api/definition.ts
  packages/utility/rpc/src/rpc/api/testing.ts
  packages/utility/rpc/src/rpc/api/typing.ts
  packages/utility/rpc/src/rpc/types.ts
Owners: @clostao

chore: v1.5.5 (#441)
  CHANGELOG.md
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

feat: export testing utilities from rpc api index
  packages/utility/rpc/src/rpc/api/index.ts
Owners: @clostao

feat: enhance ApiDefinition with notification client support
  packages/utility/rpc/src/rpc/api/definition.ts
Owners: @clostao

feat: enhance createMockServerClient with callbacks and cleanup functionality
  packages/utility/rpc/src/rpc/api/definition.ts
Owners: @clostao

refactor: add types for client & servers
  packages/utility/rpc/src/rpc/api/definition.ts
  packages/utility/rpc/src/rpc/api/typing.ts
  packages/utility/rpc/src/rpc/server.ts
  packages/utility/rpc/src/rpc/types.ts
Owners: @clostao

feat(@autonomys/rpc): add utils for testing rpc integrations (#442)
  packages/utility/rpc/src/rpc/api/definition.ts
  packages/utility/rpc/src/rpc/api/index.ts
  packages/utility/rpc/src/rpc/api/testing.ts
  packages/utility/rpc/src/rpc/api/typing.ts
  packages/utility/rpc/src/rpc/server.ts
  packages/utility/rpc/src/rpc/types.ts
Owners: @clostao

refactor: update sdk structure for avoid deps issues
  packages/auto-dag-data/src/index.ts
  packages/auto-dag-data/src/utils/file.ts
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/index.ts
  packages/auto-design-system/src/utils/index.ts
Owners: @clostao

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.6
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

refactor: remove unused FileData type and update imports in FilePreview stories
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/types/file.ts
  packages/auto-design-system/src/types/index.ts
Owners: none

refactor: update sdk structure for avoid deps issues (#443)
  packages/auto-dag-data/src/index.ts
  packages/auto-dag-data/src/utils/file.ts
  packages/auto-design-system/src/components/common/FilePreview/FilePreview.stories.tsx
  packages/auto-design-system/src/index.ts
  packages/auto-design-system/src/types/file.ts
  packages/auto-design-system/src/types/index.ts
  packages/auto-design-system/src/utils/index.ts
Owners: @clostao

fix(actions): force git clean
  .github/workflows/release.yaml
Owners: @clostao, @jfrank-summit, @Xm0onh

docs: update CHANGELOG.md for release
  CHANGELOG.md
Owners: none

v1.5.7
  examples/auto-drive-create-next-app/package.json
  examples/next/package-lock.json
  examples/next/package.json
  examples/node/package.json
  lerna.json
  packages/auto-agents/package.json
  packages/auto-consensus/package.json
  packages/auto-dag-data/package.json
  packages/auto-design-system/package.json
  packages/auto-drive/package.json
  packages/auto-files/package.json
  packages/auto-mcp-servers/package.json
  packages/auto-utils/package.json
  packages/auto-xdm/package.json
  packages/utility/asynchronous/package.json
  packages/utility/contracts/package.json
  packages/utility/design-tokens/package.json
  packages/utility/file-caching/package.json
  packages/utility/rpc/package.json
  packages/utility/user-session/package.json
  yarn.lock
Owners: @jfrank-summit, @Xm0onh, @clostao

.github/CODEOWNERS:

/.github/workflows                @clostao @jfrank-summit @Xm0onh
/packages/auto-consensus          @jfrank-summit @Xm0onh
/packages/auto-dag-data           @clostao
/packages/auto-drive              @clostao
/packages/auto-utils              @jfrank-summit @Xm0onh
/packages/auto-xdm                @jfrank-summit @Xm0onh
/packages/utility/asynchronous    @clostao
/packages/utility/file-caching    @clostao
/packages/utility/rpc             @clostao
/packages/utility/user-session    @jfrank-summit @Xm0onh
