Repository autonomys/auto-sdk, pull requests merged in 2024-06, with the labels that each got.

#9 Add module: "key management"
  .yarnrc.yml
  packages/auto-id/img/subspace-auto-id-ts-arch.png
  packages/auto-id/jest.config.ts
  packages/auto-id/package.json
  packages/auto-id/src/index.ts
  packages/auto-id/src/keyManagement.ts
  packages/auto-id/tests/keyManagement.test.ts
  packages/auto-id/tsconfig.json
  packages/auto-utils/src/index.ts
  packages/auto-utils/src/read.ts
  packages/auto-utils/src/save.ts
  yarn.lock
Labels: enhancement

#20 Connect a wallet to the api and add balance and transfer function
  .github/workflows/build.yaml
  .gitignore
  .yarn/install-state.gz
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  README.md
  package.json
  packages/auto-consensus/__test__/balances.test.ts
  packages/auto-consensus/__test__/info.test.ts
  packages/auto-consensus/__test__/transfer.test.ts
  packages/auto-consensus/package.json
  packages/auto-consensus/src/address.ts
  packages/auto-consensus/src/balances.ts
  packages/auto-consensus/src/index.ts
  packages/auto-consensus/src/info.ts
  packages/auto-consensus/src/transfer.ts
  packages/auto-utils/__test__/wallet.test.ts
  packages/auto-utils/package.json
  packages/auto-utils/src/api.ts
  packages/auto-utils/src/constants/index.ts
  packages/auto-utils/src/constants/network.ts
  packages/auto-utils/src/index.ts
  packages/auto-utils/src/network.ts
  packages/auto-utils/src/types/index.ts
  packages/auto-utils/src/types/network.ts
  packages/auto-utils/src/types/wallet.ts
  packages/auto-utils/src/wallet.ts
  scripts/localhost-run-test.sh
  yarn.lock
Labels: auto-consensus, auto-utils

#36 Create reusable scripts to query balance and transfer tokens
  .vscode/auto.code-workspace
  examples/node/.env.local
  examples/node/README.md
  examples/node/package.json
  examples/node/src/address.ts
  examples/node/src/balance.ts
  examples/node/src/transfer.ts
  examples/node/src/utils/setup.ts
  package.json
  yarn.lock
Labels: auto-consensus, auto-utils, example

#28 Add "CertificateManager" class along with tests
  packages/auto-id/package.json
  packages/auto-id/src/certificateManager.ts
  packages/auto-id/src/index.ts
  packages/auto-id/src/keyManagement.ts
  packages/auto-id/src/utils.ts
  packages/auto-id/tests/certificateManager.test.ts
  packages/auto-utils/__test__/crypto.test.ts
  packages/auto-utils/src/crypto.ts
  packages/auto-utils/src/save.ts
  yarn.lock
Labels: enhancement, auto-id
